# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Same of the popular languages that Data Scientists use are: 
* Python
* SQL
* R

# Objectives
* Use for natural language processing 
* Data managment and query
* Array oriented syntax makes it easiers to translate from math to code for learners

Same of the commonly used libraries used by Data Scientists include:
* Python librariesy
* Matplotlib
* Pandas
* Scikit-learn

| Data Science Tools |
|-------             |
|Microsoft SQL Server|
|Watson Studio       |
|Apache Airflow      |

***Below are few examples evaluating arithmetic expressions in Python***

This a simple arithmetic expression to multiply then add integers

In [8]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [11]:
200/60

3.3333333333333335

**Author**

Hilario Carlos